.detailsBody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20rem;
    align-content: space-between;
    margin-bottom: 1.5rem;
}
