.NavBar {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid grey;

    .nav-underline {
        display: flex;
        width: 30rem;
        justify-content: space-between;
        padding: 0 1rem;
        text-transform: capitalize;
        --bs-nav-underline-link-active-color: royalblue;
    }

    .nav {
        --bs-nav-link-color: white;
        --bs-nav-link-hover-color: royalblue;
    }
}
