.TrackingDetails {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 35rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5%;
    color: white;
    background-color: black;

    .slideWindow {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .col {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 3rem;
    }

    .bandit {
        display: flex;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid red;
    }

    .angel {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
    }

    .test {
        height: 30rem;
    }
}
