.TrackingDetails {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 35rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5%;
    color: white;
    background-color: black;

    .shape {
        margin-right: 1rem;
    }

    .bandit {
        display: flex;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid red;
    }

    .angel {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
    }
}
