.TrackingDetails {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 35rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5%;
    color: white;
    background-color: black;

    .shape {
        margin-right: 1rem;
    }

    .detailsHeader {
        display: flex;
        flex-direction: column;
        width: 100%;

        .name {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 100%;
        }

        .coors {
            display: flex;
            flex-direction: row;
        }

        .lat {
            padding-right: 0.5rem;
        }
    }

    .detailsBody {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 20rem;
        align-content: space-between;
        margin-bottom: 1.5rem;
    }

    .bandit {
        display: flex;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid red;
    }

    .angel {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
    }
}
